.favourites {
    display: flex;
    margin-top: 0.6vw;
    margin-bottom: 1vw;
    justify-content: space-between;
    width: 80px;
}

p,
.like {
    transition: .2s;
}

.favourites:hover p {
    cursor: pointer;
    color: red;
}

.favourites:hover .like {
    fill: red;
    cursor: pointer;
}
