.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 7vw;
    margin: 0 auto;
}

.logo {
    height: 4vw;
    width: 4vw;
}

.cart {
    width: 1.5vw;
    height: 1.5vw;
    color: black;
}

.favourites {
    fill: red;
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 2vw;
}