.main {
    display: flex;
    gap: 3vw;
    width: 80%;
    margin: 0 auto;
    padding-top: 2vw;
}

.items {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vw;
    background-color: rgb(247, 250, 252);
}