form {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchButton {
    transform: scale(1.5);
    color: rgb(241, 61, 61);
    transition: 0.3s;
}

.searchButton:hover {
    cursor: pointer;
    transform: scale(2.1);
}