@font-face {
    font-family: "Doloman";
    src: url("../assets/fonts/DolomanPavljenko.otf") format("truetype");
  }

@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
}